<div fxLayout="row" fxLayoutAlign="end center">
  <button mat-icon-button mat-dialog-close>
    <mat-icon>clear</mat-icon>
  </button>
</div>
<h1 mat-dialog-title style="text-align: center">Thông tin người dùng</h1>

<div class="info" fxLayout="column" fxLayoutAlign="space-around center">
  <div class="image-user">
    <img [src]="data.dataUser.imgurl" alt="avt" />
  </div>
  <div class="username">{{ data.dataUser.username }}</div>
  <div class="birthday">
    Ngày Sinh:{{ data.dataUser.birthday | date: "dd/MM/yyyy" }}
  </div>

  <div>Giới Tính:{{ data.dataUser.gender }}</div>
</div>

<div
  class="action"
  fxLayout="row"
  fxLayoutAlign="center center"
  mat-dialog-actions
>
  <div fxFlex="50">
    <button fxFlexFill mat-button (click)="deny()">Từ chối</button>
  </div>
  <div fxFlex="50">
    <button fxFlexFill mat-button (click)="accept()" color="warn">
      Đồng ý
    </button>
  </div>
</div>
