.image-user img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}
.username {
  font-size: 25px;
}
.info div {
  padding: 5px;
}
.action {
  margin-bottom: 0px;
}
.iId {
  input {
    outline: none;
    background-color: transparent;
    padding: 10px;
    border: none;
  }
  mat-icon {
    color: darkgray;
  }
  background-color: seashell;
}
